<div class="row">
    <div class="col-sm-9">
        <h2>
             <i class = "far fa-calendar-alt"></i>
            <%= @event[:date] %>
        </h2>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <div class="media">
            <i class'"fas fa-thumbs-up fa-3x"></i>
            <div class="media-body">
                <h5 class="mt-0">Brian</h5>
                Wouldn't miss it!
            </div>
        </div>
        <p class="mt-5"><a href="#" class="btn btn-primary">RSVP now!</a></p>
    </div>
    <div class="col-sm-3">
</div>

